<%= form_for(customer, url: url) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h4>
      <ul class="mb-0">
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, required: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :account_balance %>
    <%= f.number_field :account_balance, class: 'form-control' %>
  </div>

  <%= link_to 'Cancel', tang.admin_customer_path(customer), class: 'btn btn-secondary' %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
