<%= render 'header' %>

<h1>Change coupon</h1>

<%= form_for(@customer, url: tang.admin_customer_coupon_path(@customer), method: :put) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :coupon_id %>
    <%= f.collection_select :coupon_id, Tang::Coupon.all, :id, :stripe_id, { prompt: true }, { class: 'form-control' } %>
  </div>

  <%= link_to 'Cancel', tang.admin_customer_path(@customer), class: 'btn btn-secondary' %>
  <%= f.submit 'Change coupon', class: 'btn btn-primary' %>
<% end %>


<%= render 'footer' %>
