<%= render 'header' %>

<h1>Customers</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Card</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td>
          <%= link_to tang.admin_customer_path(customer) do %>
            <%= customer.email %>
            <%= "- #{customer.stripe_id}" if customer.stripe_id.present? %>
          <% end %>
        </td>
        <td><%= "#{customer.card.brand} – #{customer.card.last4} – #{customer.card.exp_month}/#{customer.card.exp_year}" if customer.card.present? %></td>
        <td><%= customer.created_at.strftime('%Y/%m/%d %H:%m:%S') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'footer' %>

