<%= form_for(plan, url: url) do |f| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if plan.new_record? %>
    <div class="field">
      <%= f.label :stripe_id %><br>
      <%= f.text_field :stripe_id, required: true %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </div>
  

  <% if plan.new_record? %>
    <div class="field">
      <%= f.label :currency %><br>
      <%= f.select :currency, options_for_select(['usd'], plan.currency) %>
    </div>
    <div class="field">
      <%= f.label :amount %><br>
      <%= f.number_field :amount, required: true, min: 0, step: 1 %>
    </div>
    
    <div class="field">
      <%= f.label :interval %><br>
      <%= f.select :interval, options_for_select(['day', 'week', 'month', 'year'], plan.interval), { prompt: true }, { required: true } %>
    </div>
    <div class="field">
      <%= f.label :interval_count %><br>
      <%= f.number_field :interval_count, min: 1, step: 1 %>
    </div>
    
    <div class="field">
      <%= f.label :trial_period_days %><br>
      <%= f.number_field :trial_period_days, min: 1, step: 1 %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :statement_descriptor %><br>
    <%= f.text_field :statement_descriptor, maxlength: 22 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
