<%= form_for(plan, url: url) do |f| %>
  <% if plan.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h4>
      <ul class="mb-0">
        <% plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if plan.new_record? %>
    <div class="form-group">
      <%= f.label :stripe_id %>
      <%= f.text_field :stripe_id, required: true, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, class: 'form-control' %>
  </div>

  <% if plan.new_record? %>
    <div class="form-group">
      <%= f.label :currency %>
      <%= f.select :currency, options_for_select(['usd'], plan.currency), {}, { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.label :amount %>
      <%= f.number_field :amount, required: true, min: 0, step: 1, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :interval %>
      <%= f.select :interval, options_for_select(Tang::Plan::INTERVALS, plan.interval), { prompt: true }, { required: true, class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.label :interval_count %>
      <%= f.number_field :interval_count, min: 1, step: 1, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :trial_period_days %>
      <%= f.number_field :trial_period_days, min: 1, step: 1, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :statement_descriptor %>
    <%= f.text_field :statement_descriptor, maxlength: 22, class: 'form-control' %>
  </div>

  <% if !plan.new_record? %>
    <div class="form-group">
      <%= f.label :trial_period_days %>
      <%= f.number_field :trial_period_days, min: 1, step: 1, class: 'form-control' %>
    </div>
  <% end %>

  <%= link_to 'Cancel', url, class: 'btn btn-secondary' %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
