<%= render 'header' %>

<h1 class="float-md-left">Plans</h1>

<p><%= link_to 'New', tang.new_admin_plan_path, class: 'btn btn-secondary float-md-right' %></p>

<table class="table">
  <thead>
    <tr>
      <th>Plan</th>
      <th>Cost</th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= link_to plan.name, tang.admin_plan_path(plan) %></td>
        <td><%= "#{plan_cost(plan)}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @plans %>

<%= render 'footer' %>
