<ul class="nav">
  <li class="nav-item">
    <%= link_to 'Dashboard', admin_dashboard_path, class: 'nav-link' %>    
  </li>
  <li class="nav-item">
    <%= link_to 'Customers', admin_customers_path, class: 'nav-link' %>  
  </li>
  <li class="nav-item">
    <%= link_to 'Payments', admin_payments_path, class: 'nav-link' %>  
  </li>
  <li class="nav-item">
    <%= link_to 'Subscriptions', admin_subscriptions_path, class: 'nav-link' %>  
  </li>
  <li class="nav-item">
    <%= link_to 'Plans', admin_plans_path, class: 'nav-link' %>  
  </li>
  <li class="nav-item">
    <%= link_to 'Coupons', admin_coupons_path, class: 'nav-link' %>  
  </li>
</ul>