<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tang</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript">
    // Stripe.setPublishableKey('<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>');
    window.Tang = { STRIPE_PUBLISHABLE_KEY: '<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>' }
  </script>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag 'application', defer: true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="container">
    <%= link_to 'Tang', main_app.root_path, class: 'navbar-brand' %>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown float-xs-right">
          <%= link_to current_user.email, main_app.root_path, class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } %>
          <div class="dropdown-menu">

            <% if current_user.admin? %>
              <%= link_to 'Admin dashboard', tang.admin_dashboard_path, class: 'dropdown-item' %>
            <% end %>
            <%= link_to 'Account', tang.account_subscription_path, class: 'dropdown-item' %>

            <%= link_to 'Sign out', main_app.destroy_user_session_path, data: { turbo_method: :delete }, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item float-xs-right">
          <%= link_to 'Sign in', main_app.new_user_session_path, class: 'nav-link' %>  
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container pt-1 mt-3">

  <% if flash[:notice] %>
    <div class="alert alert-info alert-dismissible fade in">
      <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
      </button>
      <%= flash[:notice] %>  
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger alert-dismissible fade in">
      <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
      </button>
      <%= flash[:alert] %>  
    </div>
  <% end %>

  <%= yield %>

</div>

</body>
</html>
