<%= form_for(subscription, url: url, html: { id: 'payment-form' }) do |f| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h4>
      <ul class="mb-0">
        <% subscription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :plan, value: subscription.plan.id %>

  <h3><%= subscription.plan.name %></h3>
  <h4><%= plan_cost(subscription.plan) %></h4>

  <% if current_user.subscription_coupon.present? %>
    <hr>
    <h5>Discount</h5>
    <p><%= "#{current_customer.subscription_coupon.stripe_id} - #{coupon_off(current_customer.subscription_coupon)} #{current_customer.subscription_coupon.formatted_duration}" %></p>
  <% end %>

  <%= render 'tang/account/cards/payment' %>

  <%= link_to 'Cancel', account_subscription_path, class: 'btn btn-secondary' %>
  <%= f.submit 'Submit Payment', class: 'btn btn-primary' %>
<% end %>
