<%= form_for(subscription, url: url, html: { id: 'payment-form' }) do |f| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :plan, value: subscription.plan.id %>

  <h2><%= subscription.plan.name %></h2>
  <h3><%= plan_cost(subscription.plan) %></h3>

  <%= render 'tang/account/cards/payment' %>

  <%= link_to 'Cancel', account_subscription_path, class: 'btn btn-secondary' %>
  <%= f.submit 'Submit Payment', class: 'btn btn-primary' %>
<% end %>
