<%= render 'header' %>

<h1>Subscriptions</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Status</th>
      <th>Plan</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= link_to subscription.customer.email, tang.admin_subscription_path(subscription) if subscription.customer.present? %></td>
        <td><%= subscription.status %></td>
        <td>
          <%= subscription.plan.name %>
          <%= "(#{plan_cost(subscription.plan)})" %>
        </td>
        <td><%= created_datetime(subscription.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @subscriptions %>

<%= render 'footer' %>

