<p>
  <strong>Stripe:</strong>
  <%= @subscription.stripe_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @subscription.customer.email %>
</p>

<p>
  <strong>Plan:</strong>
  <%= "#{@subscription.plan.name} #{plan_cost(@subscription.plan)}" %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @subscription.quantity %>
</p>

<p>
  <strong>Current period:</strong>
  <% # TODO: calculate subscription period %>
  <%= "Active until #{@subscription.customer.active_until.strftime('%Y/%m/%d')}" %>
</p>

<p>
  <strong>Created:</strong>
  <%= created_date(@subscription.created_at) %>
</p>

<p>
  <strong>Tax percent:</strong>
  <%= @subscription.tax_percent %>
</p>

<%= link_to 'Edit', edit_admin_subscription_path(@subscription) %> |
<%= link_to 'Back', admin_subscriptions_path %>
