<%= render 'header' %>

<h1 class="float-md-left">Coupons</h1>
<p><%= link_to 'New', tang.new_admin_coupon_path, class: 'btn btn-secondary float-md-right' %></p>

<table class="table">
  <thead>
    <tr>
      <th>Coupon</th>
      <th>Terms</th>
      <th>Redemptions</th>
      <th>Expires</th>
    </tr>
  </thead>

  <tbody>
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%= link_to coupon.stripe_id, tang.admin_coupon_path(coupon) %></td>
        <td>
          <%= "#{coupon_off(coupon)} #{coupon.formatted_duration}" %>
        </td>
        <td>
          <% if coupon.max_redemptions.present? %>
            <!-- discounts -->/<%= coupon.max_redemptions %>
          <% end %>
        </td>
        <td><%= coupon.redeem_by.strftime('%Y/%m/%d %H:%m') if coupon.redeem_by.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @coupons %>

<%= render 'footer' %>