<%= form_for(plan, url: url) do |f| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stripe_id %><br>
    <%= f.text_field :stripe_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :interval %><br>
    <%= f.text_field :interval %>
  </div>
  <div class="field">
    <%= f.label :interval_count %><br>
    <%= f.number_field :interval_count %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :statement_descriptor %><br>
    <%= f.text_field :statement_descriptor %>
  </div>
  <div class="field">
    <%= f.label :trial_period_days %><br>
    <%= f.number_field :trial_period_days %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
