<p id="notice"><%= notice %></p>

<p>
  <strong>Stripe:</strong>
  <%= @plan.stripe_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @plan.amount %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @plan.currency %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @plan.interval %>
</p>

<p>
  <strong>Interval count:</strong>
  <%= @plan.interval_count %>
</p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Statement descriptor:</strong>
  <%= @plan.statement_descriptor %>
</p>

<p>
  <strong>Trial period days:</strong>
  <%= @plan.trial_period_days %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
