<%= form_for(card, url: url, html: { id: 'payment-form' }) do |f| %>
  <% if card.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h4>
      <ul class="mb-0">
        <% card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'payment' %>

  <% if current_customer.card.present? %>
    <%= link_to 'Cancel', account_card_path, class: 'btn btn-secondary' %>
  <% else %>
    <%= link_to 'Cancel', account_subscription_path, class: 'btn btn-secondary' %>
  <% end %>
  <%= f.submit 'Save My Billing Information', class: 'btn btn-primary' %>
<% end %>
