<h2>Change your payment details</h2>
<hr>

<div class="card card-block">
<% if @card.present? %>
  <p class="card-text">
    <%= @card.brand %><br>
    Card: **** **** **** <%= @card.last4 %><br>
    Expiry: <%= "#{@card.exp_month}/#{@card.exp_year}" %>
  </p>
<% else %>
  <p class="card-text">You do not have a card on file.</p>
<% end %>
</div>

<%= link_to 'Use a new card', new_account_card_path, class: 'btn btn-secondary' %>
<%= link_to 'Cancel', account_subscription_path, class: 'btn btn-secondary' %>
