<%= render 'header' %>

<h1>Payments</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Amount</th>
      <th>ID</th>
      <th>Customer</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td>
          <%= link_to tang.admin_payment_path(payment) do %>
            <%= number_to_currency(payment.amount.to_f / 100.0) %>
            <%= payment.currency.upcase %>
          <% end %>
        </td>
        <td><%= payment.stripe_id %></td>
        <td><%= payment.invoice.customer.email if payment.invoice.present? && payment.invoice.customer.present? %></td>
        <td><%= payment.created.strftime('%Y/%m/%d %H:%M:%S') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @payments %>

<%= render 'footer' %>
